<div class="team-edit">
	<div class="team-edit-container">
		<%= form_with(model: team, local: true) do |form| %>
 		 <% if team.errors.any? %>
   		 <div id="error_explanation">
      		<ul>
     		 <% team.errors.full_messages.each do |message| %>
       		 <script>
                swal("<%= message %>","","error");
              </script>
     		 <% end %>
     		 </ul>
   		 </div>
 		 <% end %>

		<div class="new-name-container">	
 		 <div class="form">
   		 <%= form.text_field :teamname, id: :team_teamname, placeholder: "Novo nome", id: "new-name" %>

		  </div>

 		 <div class="actions">
   		 <%= form.submit "Alterar" , id: "new-name-btn"%>
		  </div>
		<% end %>
		</div>

	</div>
</div>
