<div class="teams-body">
	<div class="teams-container">
		<div class="team-title">
			<div class="team-title-container">	
				<p>Renomear time</p>
			</div>
		</div>

		<%= render 'formedit', team: @team %>

	</div>
</div>
