<div class="teams-body">
	<div class="teams-container">
	
	<div class="team-title">
		<div class="team-title-container">
			<p>Times</p>
		</div>
	</div>

		<p id="notice"><%= notice %></p>
		
		<div class="new-team-container">
			<%= render 'form', team: @team %>
		</div>

		<table>
  			<tbody>
  			  <% @teams.each do |team| %>
			      <tr>
       				 <td><%= link_to team.teamname, team %> <div class="team-arquivar-btn"><%= link_to 'Arquivar', team, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
    			  </tr>
  			  <% end %>
			</tbody>
		</table>

	</div>
</div>
