<p id="notice"><%= notice %></p>

<%= render 'form', team: @team %>
<table>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.teamname, team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

