<body class="body-light">
	<div class="body-light-container">

		<div class="title title-dark">
			<div class="title-container">
				<h1>Novo Time</h1>
			</div>
		</div>

		<div class="info">
			<%= render 'form', team: @team %>

			<div class="info-actions">
				<%= link_to 'Voltar', teams_path %>
			</div>

		</div>


	</div>
</body>
