<div class="teams-body">
	<div class="teams-container">
		<p id="notice"><%= notice %></p>

		<div class="team-title">
			<div class="team-title-container">
				<p>
 				 <%= link_to @team.teamname, edit_team_path(@team) %>
				</p>
			</div>
		</div>

		<%= render 'formnewdev', team: @team %>

		<div class="team-dev-container">
			<% @t.each do |t| %>
				<div class="team-dev">
				  <%= t.user.full_name %>
					<%# link_to 'Excluir', t.route66 , method: :destroy, data: { confirm: 'Tem certeza?' } %>
 				  <br>
				</div>
			<% end %>
		</div>
	</div>
</div>
