<body class="body-light">
	<div class="body-light-container">

		<div class="title title-dark">
			<div class="title-container">
				<h1>
 				 <%= link_to @team.teamname, edit_team_path(@team) %>
				</h1>
			</div>
		</div>

		<%= render 'formnewdev', team: @team %>

		<div class="teams-table">
			<table>
			<tbody>
			<% @t.each do |t| %>
				<tr>
				    <td><%= t.user.full_name %>
					<div class="table-btn teams-arquivar-btn">
					<%= link_to 'Excluir', routes66_path(:tiago => t.user.id, :renato => t.team.id) , method: :delete, data: { confirm: 'Tem certeza?' } %>
 				  	</div>
				    </td>
				</tr>
			<% end %>
			</tbody>
			</table>
		</div>
		</div>
	</div>
</body>
