<p id="notice"><%= notice %></p>

<p>
  <%= link_to @team.teamname, edit_team_path(@team) %>
</p>

<%= render 'formnewdev', team: @team %>

<% @t.each do |t| %>
  <%= t.user.full_name %>
  <br>
<% end %>