<!-- <div class="new-dev-container">

	<div class="new-dev">
		<%= form_for(@direction, url: add_user_to_direction_path, method: :patch) do |f|  %>
 	 	<%= select("", "user_id", User.all.collect { |user| [ user.full_name, user.id ] },
     			{include_blank: "PMO"}) %>
	</div>
   	 <%= f.submit "ADD", id: "new-dev-btn" %>
	<% end %>

</div> -->
