<body class="body-light">
  <div class="body-light-container">

    <div class="title title-dark">
      <div class="title-container"> 
        <h1>Financeiro</h1>
      </div>
    </div>

  </div>
</body>

