<body class="body-light">
	<div class="body-light-container">

		<div class="title title-dark">	
			<div class="title-container">	
				<h1>Editar tarefa</h1>
			</div>
		</div>

		<div class="info">
			<%= render 'formtask', task: @task %>

			<div class="info-actions">
				<%= link_to 'Ver', @task, id:"info-btn" %>
				<%= link_to 'Voltar', tasks_path, id:"info-btn" %>
			</div>

		</div>


	</div>
</body>
