<div class="users-body">
	<div class="users-container">

		<div class="users-nav">
			<div class="users-nav-container">
				<p id="notice"><%= notice %></p>
			</div>
		</div>
		<div class="users-title">
			<div class="users-title-container">
				<h1>Usuários</h1>
			</div>
		</div>
	
		<div class="users-table">
				<table>
 			 		 <tbody class="users-list">
			   		 <% @users.each do |user| %>

   					  	 <tr class="users-list-container">
   					   		  <td><%= link_to user.full_name, user %></td>
   						 </tr>
	
   					 <% end %>
 					 </tbody>

				</table>
		</div>
		
	</div>
</div>
