<body class="body-light">
	<div class="body-light-container">
		<div class="users-nav">
			<div class="users-nav-container">
				<p id="notice"><%= notice %></p>
			</div>
		</div>
		<div class="title title-dark">
			<div class="title-container">
				<h1>Usuários</h1>
			</div>
		</div>
	
		<div class="single-table">
				<table>
 			 		 <tbody>
			   		 <% @users.each do |user| %>

   					  	 <tr>
   					   		  <td><%= link_to user.full_name, user %></td>
							  
   						 </tr>
	
   					 <% end %>
 					 </tbody>

				</table>
		</div>
		
	</div>
</body>
