<h1>Novo Projeto</h1>

<%= render 'form', project: @project %>


<%= link_to 'Voltar', projects_path %> |
<%= link_to 'Todos os Usuários', users_path %> |
<%= link_to 'Todos os Times', teams_path %>


