/* css base */
/* padrao */

.body{
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.title{
	width: 100%;
        font-family: 'Quesha';
}

.title-container{
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;	
        text-align: center;
}

/* paginas com body dark e title light */

.body-dark{
       background: #001e3d;
}

.title-light h1 {
        color: #ededed;
        font-size: 6.4em;
        font-weight: normal;
}

/* paginas com body light e title dark */

.body-light{
        padding: 2.5% 0;
        background: #fafafa;
}

.body-light-container{
        width: 40%;
        padding: 5% 0;
        margin: 0 auto;
}

.title-dark h1{
        color: #001e3d;
        font-size: 6em;
        font-weight: normal;
}

.title-dark h1 a{
        text-decoration: none;
        color: #001e3d;
}

