/* css base */

/* body e title padrao */

body{
	width: 100%;
	min-height: 100%;
	background: #001e3d;
}

.title{
	width: 100%;
        font-family: 'Quesha';
}

.title-container{
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;	
        text-align: center;
}

/* paginas com body dark e title light */

.body-dark{
       background: #001e3d;
}

.title-light h1 {
        color: #ededed;
        font-size: 6.4em;
        font-weight: normal;
}

/* paginas com body light e title dark */

.body-light{
        background: #fafafa;
}

.body-light-container{
        width: 40%;
        padding: 15vh 0;
        margin: 0 auto;
}

.title-dark h1{
        color: #001e3d;
        font-size: 6em;
        font-weight: normal;
}

.title-dark h1 a{
        text-decoration: none;
        color: #001e3d;
}

/* big body */
/* em projects e tasks */

.big-body-container{
        width: 60%;
}


/* tables */

table{
        background: #edf3fa;
        width: 100%;
        font-family: "Quicksand";
        border: 1px solid #7d7d7d;
        border-collapse: collapse;
}

table td{
        font-size: 1.4em; 
	padding: 10px;
        border: 1px solid #7d7d7d;
        transition: 0.3s;       
}

table td a{
        text-decoration: none;
	color: #7d7d7d;
        cursor: pointer;
}

table td a:hover{
        color: #fafafa !important;
}

.table-btn{
	cursor: pointer;
        border: 1px solid #7d7d7d;
        border-radius: 5px;
        font-size: 1em;
        padding: 5px;
        transition: 0.3s;
}

/* single table, apenas uma coluna */
/* tabelas do feed de usuarios e diretorias */

.single-table table td{
        padding: 15px;
}

.single-table table td:hover{
        background: #6c9fd1;
        transition: 0.3s;
}

.single-table table td a{
        color: #001e3d;
}

/* multi table, varias colunas */
/* tabelas do feed de projetos e tarefas */

.multi-table table{
        margin: 20px auto;
	text-align: center;
}

.multi-table thead th{
        padding: 10px;
}

.multi-table td{
        padding: 15px;
}


/* info */
/* paginas de show de user e project */

.info{
        background: #ededed;
        font-family: 'Quicksand';
        padding: 10px;
        border-radius: 5px;
}

.info p{
        font-size: 1.2em;
        padding: 10px;
}

.info-actions{
        margin: 20px 10px;
        text-align: right;
}

.info-actions a{
        text-decoration: none;
}

/* botoes */

/* botoes do tipo create */
/* 'criar projeto' */

#create-btn{
        background: #29bd64;
        color: #fafafa;
        cursor: pointer;
        display: block;
        padding: 10px;
        margin: 0 auto;
        font-family: "Quicksand";
        font-size: 1.5em;
        font-weight: bold;
        border: 3px solid #29bd64;
        border-radius: 10px;
        transition: 0.3s;
}

#create-btn:hover{
        background: #2ccf6e;
        border: 3px solid #18703B;
        color: #18703B;
        transition: 0.3s;
}

/* botoes do tipo new*/
/* 'novo projeto', 'nova diretoria', 'nova tarefa' */

#new-btn{
        background: #29bd64;
        color: #fafafa;
        margin: 15px 0;
        padding: 10px;
        text-decoration: none;
        font-family: "Quicksand";
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
        border: 2px solid #29bd64;
        border-radius: 5px;
        float: right;
        transition: 0.3s;
}

#new-btn:hover{
        background: #2ccf6e;
        border: 2px solid #18703B;
        color: #18703B;
        transition: 0.3s;
}

#new-btn::after{
        content:'';
        display: table;
        clear: both;
}

/* botoes do tipo info */
/* paginas de show de user e project */

#info-btn{
        background: #5D94CA;
        color: #fafafa;
	margin: 0 5px;
        padding: 10px;
        border: 2px solid #5d94ca;
        border-radius: 10px;
        cursor: pointer;
	text-decoration: none;
        font-family: 'Quicksand_Bold';
        font-size: 1.2em;
        transition: 0.3s;
}

#info-btn:hover{
        border: 2px solid #001e3d;
        color: #001e3d;
        transition: 0.3s;
}

/* botoes das multi tables */
/* paginas de feed de projetos e tarefas */

#show-btn, #edit-btn, #destroy-btn{
        padding: 10px;
        border: 1px solid #7d7d7d;
        border-radius: 5px;
        font-weight: bold;
        display: block;
}

#show-btn, #edit-btn{
        margin-bottom: 5px;
        background: #ffd58d;
}

#destroy-btn{
        background: #FF704D;
}

#show-btn:hover, #edit-btn:hover, #destroy-btn:hover{
	border: 1px solid #fafafa;
}

/* botoes edit actions */

.edit-actions{
        margin: 15px 0;
}

.edit-actions #edit-actions-btn{
        background: #5D94CA;
        color: #fafafa;
        margin-top: 20px;
        border: 2px solid #5d94ca;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Quicksand_Bold';
        font-size: 1.8em;
	transition: 0.3s;
}

.edit-actions #edit-actions-btn:hover{
        border: 2px solid #053260;
	color: #053260;
	transition: 0.3s;
}

