/* fonts */


@font-face{
        font-family: Quesha;
        src: url('fonts/Quesha.ttf');
}


@font-face{
        font-family: Quicksand;
        src: url('fonts/Quicksand_Book.otf');
}

@font-face{
        font-family: Quicksand_Bold;
        src: url('fonts/Quicksand_Bold.otf');
}

