// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* nova meta */

#goal_description, #project_description{
	background: #fafafa;
        font-family: "Quicksand";
        font-size: 1.4em;
        padding: 10px 5px;
        border: 1px solid #7d7d7d;
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
	height: 200px;

}
