/* recovery */

.recovery-body{
	position: absolute;
    width: 100%;
    min-height: 100%;
	background: #001e3d;
}

.recovery-nav{
	width: 100%;
}

.recovery-nav-container{
	width: 960px;
	margin: 0 auto;
}

.recovery-login-button{
	background: #002B57;
	color: #ededed;
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #002b57;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	float: right;
	font-family: 'Quicksand';
	font-size: 1.4em;
}

.recovery-login-button a{
	text-decoration: none;
	color: #ededed;
}

.recovery-login-button:hover{
	background: #053260;
	border: 1px solid #ededed;
}

.recovery-nav::after{
	content:'';
	display: table;
	clear: both;
}

.title{
	width: 100%;

}

.title-container{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.title h1 {	
	text-align: center;
	color: #ededed;
	font-family: 'Quesha';
	font-size: 6.4em;
	font-weight: normal;
}

.recovery-section{
	width: 100%;

	padding: 5% 0; /*centralizando verticalmente 2*/
}

.recovery-section h2{
	text-align: center;
	font-family: 'Quicksand';
	color: #ededed;
	padding-bottom: 15px; 
}

.recovery-container input{
	background: #ededed;
	font-family: 'Quicksand';
	font-size: 1.4em;
	display: block;
	margin: 0 auto;
	width: 284px;
	padding: 15px;
	border: 1px solid #7d7d7d;
	border-radius: 10px;
	box-sizing: border-box;
}

.recovery-container input:focus{
	outline: none;
	background: #edf3fa;

}

.recovery-actions{
	margin: 15px 0;
}

.recovery-actions #recovery-btn{
	background: #5D94CA;
	color: #ededed;
	margin-top: 20px;
	border: 2px solid #5d94ca;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Quicksand_Bold';
	font-size: 1.8em;
}

.recovery-actions #recovery-btn:hover{
	border: 2px solid #ededed;
}

