/* register user */

.register-section{
	width: 100%;

	padding: 5% 0; /*centralizando verticalmente 2*/
}

.register-section p a{
    text-decoration: none;
	color: #ededed;
}

.register-container input, label{
	background: #ededed;
	font-family: 'Quicksand';
	font-size: 1.4em;
	display: block;
	margin: 15px auto;
	width: 284px;
	padding: 15px;
	border: 1px solid #7d7d7d;
	border-radius: 10px;
	box-sizing: border-box;
}

.register-container input:focus{
	outline: none;
	background: #edf3fa;
}

/* table de front e back */
.esp-table{
	background: #ededed;
	text-align: center;
	margin: 15px auto;
	border-radius: 10px;
	width: 284px;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
}

.esp-table td{
	border: none;
}

.esp-table input{
	width: 20px;
}

/* escolha sua foto */
.register-container label{
	cursor: pointer;
}

.register-container label i{
	color: #053260;
	padding: 0 10px;
}

.register-container label:hover{
	color: #5d94ca;

	i{
		color: #5d94ca;
	}
}

#user_avatar{
	display: none;
}

.register-actions{
	margin: 15px 0;
}

.register-actions #register-btn{
	background: #5D94CA;
	color: #ededed;
	margin-top: 20px;
	border: 2px solid #5d94ca;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Quicksand_Bold';
	font-size: 1.8em;
}

.register-actions #register-btn:hover{
	border: 2px solid #ededed;
}

.register-section p{
	text-align: center;
	font-family: 'Quicksand';
	color: #ededed;
}
