/* team feed */

.teams-body{
	background: #fafafa;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2.5% 0;
}

.teams-container{
	width: 40%;
	margin: 0 auto;
	padding: 5% 0;
}

.new-team-container{
	box-sizing: border-box;
	margin: 20px auto;
}

#new-team{
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	
	width: 36%;
	float: left;
	position: absolute;
}

#new-team:focus{
	outline: none;
	background: #e1e1e1;
}

#new-team-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 80px;
	float: right;
	position: relative;
}

#new-team-btn:hover{
	background: #2CCF6E;
	transition: 0.3s; 
}

.new-team-container::after{
	content:'';
	display: table;
	clear: both;
}

.teams-body table{
	border: 1px solid #7d7d7d;
	border-collapse: collapse;
	width: 100%;
}

.teams-body table td{
	background: #edf3fa;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;
	border: 1px solid #7d7d7d;
	height: 30px;
	transition: 0.3s;	
}

.teams-body table td:hover{
	background: #6c9fd1;
	color: #fafafa;
	transition: 0.3s;	
}

.teams-body table a{
	text-decoration: none;
	color: #7d7d7d;
}

.teams-body table a:hover{
	color: #fafafa;
}


/*
.teams-body table > :first-child tr{
	border-radius: 5px 5px 0 0;
}

.teams-body table > :last-child tr{
	border-radius: 0 0 5px 5px;
}
*/

/* show team */

.team-title{
        width: 100%;

}

.team-title-container{
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 30px;
}

.team-title p{ 
        text-align: center;
        color: #001e3d;
        font-family: 'Quesha';
        font-size: 6.4em;
        font-weight: normal;
}

.team-title a{
	text-decoration: none;
        color: #001e3d;
}

.new-dev-container{
	box-sizing: border-box;
	margin: 20px auto;
}

.new-dev-container::after{
	content:'';
	display: table;
	clear: both;
}

.new-dev select{
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	cursor: pointer;
	
	width: 36%;
	float: left;
	position: absolute;
}

.new-dev select:focus{
	outline: none;
}

#new-dev-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 80px;
	float: right;
	position: relative;
}

#new-dev-btn:hover{
	background: #2CCF6E;
	transition: 0.3s; 

}

.team-dev-container{
	border: 1px solid #7d7d7d;
	border-collapse: collapse;
}

.team-dev{
	background: #edf3fa;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;
	border: 1px solid #7d7d7d;
	height: 30px;

}

/* edit team */

.new-name-container{
	box-sizing: border-box;
	margin: 20px auto;
}

.new-name-container::after{
	content:'';
	display: table;
	clear: both;
}

#new-name {
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	
	width: 36%;
	float: left;
	position: absolute;
}

#new-name:focus{
	outline: none;
}

#new-name-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 100px;
	float: right;
	position: relative;
}

#new-name-btn:hover{
	background: #2CCF6E;
	transition: 0.3s; 

}

.team-arquivar-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;	
	transition: 0.3s; 

	float: right;
	position: relative;
}
