/* team feed */

.new-team-container{
	box-sizing: border-box;
	margin: 20px auto;
}

#new-team{
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	
	width: 36%;
	float: left;
	position: absolute;
}

#new-team:focus{
	outline: none;
	background: #e1e1e1;
}

#new-team-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-family: "Quicksand";
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 80px;
	float: right;
	position: relative;
}

#new-team-btn:hover{
	background: #2CCF6E;
	border: 1px solid #18703b;
	color: #18703b;
	transition: 0.3s; 
}

.new-team-container::after{
	content:'';
	display: table;
	clear: both;
}

/* teams table */
/* outros styles de table em base.scss */

.teams-table table td:hover{
	background: #6c9fd1;
        transition: 0.3s;
}

.teams-table table td a{
        color: #7d7d7d;
}

.teams-arquivar-btn{
	background: #ffd58d;
	float: right;
        position: relative;
}

/* show team */

.new-dev-container{
	box-sizing: border-box;
	margin: 20px auto;
}

.new-dev-container::after{
	content:'';
	display: table;
	clear: both;
}

.new-dev select{
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	cursor: pointer;
	
	width: 36%;
	float: left;
	position: absolute;
}

.new-dev select:focus{
	outline: none;
}

#new-dev-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 80px;
	float: right;
	position: relative;
}

#new-dev-btn:hover{
	background: #2CCF6E;
	transition: 0.3s; 

}

.team-dev-container{
	border: 1px solid #7d7d7d;
	border-collapse: collapse;
}

.team-dev{
	background: #edf3fa;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;
	border: 1px solid #7d7d7d;
	height: 30px;

}

/* edit team */

.new-name-container{
	box-sizing: border-box;
	margin: 20px auto;
}

.new-name-container::after{
	content:'';
	display: table;
	clear: both;
}

#new-name {
	background: #edf3fa;
	color: #7d7d7d;
	border: 1px solid #7d7d7d;
	border-radius: 5px 0  0 5px;
	font-family: "Quicksand";
	font-size: 1.4em;
	padding: 10px;	
	box-sizing: border-box;
	height: 50px;	
	
	width: 36%;
	float: left;
	position: absolute;
}

#new-name:focus{
	outline: none;
}

#new-name-btn{
	background: #29BD64;
	color: #fafafa;
	cursor: pointer;
	border: 1px solid #7d7d7d;
	border-radius: 0 5px 5px 0;
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px;	
	transition: 0.3s; 

	height: 50px;	
	width: 100px;
	float: right;
	position: relative;
}

#new-name-btn:hover{
	background: #2CCF6E;
	transition: 0.3s; 

}

