/* users feed */
/* outros styles de table em base.scss */

.users-table table td{
	padding: 15px;
}

.users-table table td:hover{
	background: #6c9fd1;
        transition: 0.3s;
}

.users-table table td a{
	color: #001e3d;
}

/* user profile (show) */
/* outros styles de show em base.scss */

.profile-img{
	width: 100%;
}

.profile-img img{
	max-width: 180px;
	display: block;
	margin: 20px auto;
	border: 2px solid #5d94ca;
	border-radius: 50%;
}

