/* styles de table em base.scss */

/* user profile (show) */
/* outros styles de show em base.scss */

.profile-img{
	width: 100%;
}

.profile-img img{
	max-width: 180px;
	display: block;
	margin: 20px auto;
	border: 2px solid #5d94ca;
	border-radius: 50%;
}


