/* users feed */
/* outros styles de table em base.scss */

.users-table table td{
	padding: 15px;
}

.users-table table td a{
	color: #001e3d;
}

/* user profile (show) */

.profile-container{
	background: #ededed;
	font-family: 'Quicksand';
	padding: 10px;
	border-radius: 5px;
}

.profile-img{
	width: 100%;
}

.profile-img img{
	max-width: 180px;
	display: block;
	margin: 20px auto;
	border: 2px solid #5d94ca;
	border-radius: 50%;
}

.profile-info p{
	font-size: 1.2em;
	padding: 10px;
}

.profile-actions{
	margin: 20px 10px;
	text-align: right;
}

.profile-actions a{
	text-decoration: none;
}

#profile-btn{
	background: #5D94CA;
	color: #fafafa;
	padding: 10px;
	border: 2px solid #5d94ca;
	border-radius: 10px;
	cursor: pointer;
	font-family: 'Quicksand_Bold';
	font-size: 1.2em;
	transition: 0.3s;
}

#profile-btn:hover{
	border: 2px solid #001e3d;
	color: #001e3d;
	transition: 0.3s;
}

